body {
  background-color: #15719f;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  color: #15719f;
}

.weather-app {
  background: #7bc7dd;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #faf8fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-form-button {
  background-color: #15719f;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}
main {
  padding: 30px 0;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(39, 33, 66, 0.6);
  background-color: #95d6ea;
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
}
.weather-app-details strong {
  color: #800000;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-top: 22px;
}
.weather-app-temperature-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 5px;
  font-size: 28px;
}
footer {
  border-top: 1px solid #faf8fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-narrow-bold {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}
